<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <nav id="navbar">
        <ul>
          <li><a href="/home">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/works">activities</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>

      <div class="img-container">
        <div class="centered-text">
          <span class="centered-title">Welcome to rainy day 🤍</span> <br />
          <br />
          <span class="centered-subtitle"
            >It's raining outside and you are stuck inside with your littles
            ones.</span
          >
          <br />
          <br />
          <br />
          <span class="centered-subtitle"
            >Turn the tide with our activities suggestions and ideas.</span
          >
        </div>
      </div>
    </main>
  </body>
</html>
